.form-group {
  margin-top: 16px;
}

.contenedorPrincipal {
  width: 100vw;
  height: 100vh;
}

table thead tr th {
    text-align: center;
}

button{
  background: none;
  border: none;
  outline: none;
}